{% extends 'djgroup/index.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
{% for banner in banners %}
<section class="about-banner" style="background-image: url('{{ banner.about.url }}');">

    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>About us</h1>
            <h4>{{ banner.about_text }}</h4>
        </div>
    </div>
</section>
{% endfor %}
{% for about in abouts %}
<section class="about">
    <div class="about-text">

        <p>{{ about.description }}</p>

    </div>
</section>

<section class="target">
    <div class="row target-text">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 test">
            <div class="mission green">
                <div class="mission-icon"><i class="far fa-eye"></i></div>
                <div class="mission-title">Our Vision</div>
                <div class="mission-text">{{ about.vision }}</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 test">
            <div class="mission blue">
                <div class="mission-icon"><i class="fas fa-rocket"></i></div>
                <div class="mission-title">Our Mission</div>
                <div class="mission-text">{{ about.mission }}</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 test">
            <div class="mission green">
                <div class="mission-icon"><i class="far fa-lightbulb"></i></div>
                <div class="mission-title">Our Strategies</div>
                <div class="mission-text">{{ about.strategy }}</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 test">
            <div class="mission blue">
                <div class="mission-icon"><i class="fas fa-bullseye"></i></div>
                <div class="mission-title">Our Goal</div>
                <div class="mission-text">{{ about.goal }}</div>
            </div>
        </div>
    </div>
</section>

<section class="bg-img">
    <div class="container">
        <div class="row">
            <div class="bg-box">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="bg-text">
                        <div class="bg-text-left"><i class="fas fa-users"></i></div>
                        <div class="bg-text-right">
                            <h4>Who we are</h4>
                            <p>{{ about.who_we_are }}</p>
                        </div>
                    </div>
                    <div class="bg-text">
                        <div class="bg-text-left"><i class="fas fa-user-check"></i></div>
                        <div class="bg-text-right">
                            <h4>Why choose us</h4>
                            <p>{{ about.why_choose_us }}</p>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="bg-image">
                        <img src="/media/{{ about.bg_image }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="work-block">
    <h3>Our Work Flow</h3>
    <img src="{% static 'img/how.jpg' %}">
</section>

{% endfor %}




{% endblock %}