{% extends 'djgroup/index.html' %}
{% load static %}

{% block title %}Events{% endblock %}

{% block content %}

{% for banner in banners %}
<section class="event-banner" style="background-image: url('/media/{{ banner.events }}');">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<h1>Events</h1>

		</div>
	</div>
</section>
{% endfor %}

<section class="event-all">
	<h3>Our Events</h3>
	<div class="container">
		{% for event in events %}
		<div class="event">
			<figure class="event-img">
				<img src="/media/{{ event.image }}">
			</figure>
			<div class="event-manage">
				<div class="event-detail">
					<p>{{ event.date }}</p>
					<h1><a href="{% url 'djgroup:events-detail' event.id %}">{{ event.title }}</a></h1>
					<p><a href="{% url 'djgroup:events-detail' event.id %}"> <i class="fas fa-arrow-right"></i></a></p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>


{% endblock %}