{% extends 'djgroup/index.html' %}
{% load static %}

{% block title %}Services{% endblock %}

{% block content %}
{% for banner in banners %}
<section class="service-banner" style="background-image: url('{{ banner.services.url }}');">

    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>Our services</h1>
            <h4>{{ banner.services_text }}</h4>
        </div>
    </div>
</section>
{% endfor %}

<section class="service-main">
    <div class="container">
        <div class="row">
            {% for service_desc in service_descs %}
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="service-all">
                    <div class="service-left"><i class="{{ service_desc.icon }}"></i></div>
                    <div class="service-right">
                        <h3>{{ service_desc.title }}</h3>
                        <p>{{ service_desc.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="service-all">
                    <div class="service-left"><i class="fas fa-mobile-alt"></i></div>
                    <div class="service-right">
                        <h3>Mobile responsive</h3>
                        <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus.
                            Maecenas</p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="service-all">
                    <div class="service-left"><i class="fas fa-bolt"></i></div>
                    <div class="service-right">
                        <h3>Excellent result</h3>
                        <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus.
                            Maecenas</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="process">
    <h3>Our Services</h3>
    <div class="service-line"></div>

    <div class="container">
        <div class="row">
            {% for service_type in service_types %}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="services-all">
                    <div class="services-left"><i class="{{ service_type.icon }}"></i></div>
                    <div class="services-right">
                        <h4>{{ service_type.name }}</h4>
                        <div class="services-line"></div>
                        <span class="service-text2">{{ service_type.description }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<section class="parallax-box">
    <div class="container">
        <div class="box-content">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <i class="fab fa-connectdevelop"></i>
                    <p>2</p>
                    <h4>Developers</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <i class="fas fa-magic"></i>
                    <p>1</p>
                    <h4>Designer</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <p>3</p>
                    <h4>Programmer</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <i class="fas fa-project-diagram"></i>
                    <p>4</p>
                    <h4>Projects</h4>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}