{% extends 'djgroup/index.html' %}
{% load static %}

{% block title %}Team{% endblock %}

{% block content %}
{% for banner in banners %}
<section class="team-banner" style="background-image: url('{{ banner.team.url }}');">

    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>Our team</h1>
            <h4>{{ banner.team_text }}</h4>
        </div>
    </div>
</section>
{% endfor %}


<section class="team">

    <div class="container">
        <div class="row team-v5 margin-bottom-30">
            {% for team in teams %}
            <div class="col-lg-3 col-sm-6 sm-margin-bottom-50">
                <div class="team-img">
                    <img class="img-responsive" src="{{ team.image.url }}" alt="">
                    <div class="team-hover">
                        <ul class="list-inline team-social-v5">
                            <li><a href="{{ team.facebook_link }}"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="{{ team.linkedin_link }}"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="{{ team.insta_link }}"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <span>{{ team.name }}</span>
                <small>{{ team.post }}</small>
            </div>
            {% endfor %}

        </div>
        <!--/end team v5-->
    </div>
</section>

{% endblock %}