.about-banner {
    /* background-image: url(../img/about.jpg); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.col-md-6.col-md-offset-3 {
    margin-top: 189px;
    text-align: center;
    color: #fff;
}

.col-md-6.col-md-offset-3 h1 {
    font-size: 55px;
}

.col-md-6.col-md-offset-3 h4 {
    font-size: 30px;
}

.color-green {
    color: #006034;
}

.about-text {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

section.about {
    margin-top: 70px;
}

/**/

.row.target-text {
    margin-left: 0;
    margin-right: 0;
}

section.target {
    margin-top: 70px;
}

.test {
    padding: 0;
}

.mission {
    text-align: center;
    color: #fff;
    padding: 25px;
}

.green {
    background: #006034;
}

.blue {
    background: #0981EF;
}

.mission-icon i {
    font-size: 25px;
}

.mission-title {
    font-size: 19px;
    margin: 10px;
}

/**/

.bg-img {
    background-image: url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.bg-box {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
}

.bg-text-left i {
    font-size: 20px;
    color: #000;
}

.bg-text-right h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.bg-text {
    display: flex;
    margin-top: 10px;
}

.bg-text-right {
    margin-left: 15px;
    color: #000;
}

.bg-image img {
    width: 85%;
}

.mission-text {
    height: 110px;
}

.work-block img {
    width: 100%;
}

.work-block h3 {
    text-align: center;
    margin-bottom: 20px;
}

.work-block {
    margin-top: 50px;
}