.service-banner {
    /* background-image: url(../img/service.jpg); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.col-md-6.col-md-offset-3 {
    margin-top: 189px;
    text-align: center;
    color: #fff;
}

.col-md-6.col-md-offset-3 h1 {
    font-size: 55px;
}

.col-md-6.col-md-offset-3 h4 {
    font-size: 30px;
}

.color-green {
    color: #006034;
}

/*service1 block*/

.service-all {
    display: flex;
}

.service-right h3 {
    margin-top: 0;
}

.service-left i {
    font-size: 20px;
    border: 1px solid #0981EF;
    border-radius: 50%;
    padding: 7px 11px;
    height: 35px;
    width: 35px;
    color: #0981EF;
}

.service-right {
    margin-left: 15px;
}

.service-all {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*process*/

section.process {
    background: #F0F0F0;
    padding: 50px 0px;
}

section.process h3, section.process p {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

.services-all {
    display: flex;
}

.services-right h4 {
    margin-top: 0;
}

.services-right {
    height: 200px;
}

.services-left i {
    font-size: 20px;
    color: #006034;
}

.services-all {
    display: flex;
    background: #FFFFFB;
    padding: 34px 20px;
    margin-top: 30px;
}

.services-line {
    width: 5%;
    border: 1px solid #006034;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*parallax*/

.parallax-box {
    background-image: url(../img/parallax.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 300px;
    padding: 30px 0;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.box-content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.parallax-box i {
    color: #fff;
    display: block;
    font-size: 50px;
    margin-bottom: 20px;
}

.parallax-box p {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.parallax-box h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
}